

ul li a:hover
{
    transform: scale(1.05);
    transition: .3s;

}

.carousel-item img {
    height: 703px; 
    object-fit: cover; 
}

#recharge-content
{
    font-size: 64px;
    font-weight: bold;
}